Proyecto/Connected Services/SVC_BD/General.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="General" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62703/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62703/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62703/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneral_GetDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTable" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ListarFiltrar_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFiltrar" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ListarFiltrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFiltrarResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Ins_Upd_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Upd_Delete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Ins_Upd_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Upd_DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneral">
    <wsdl:operation name="GetDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetDataTable" message="tns:IGeneral_GetDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetDataTableResponse" message="tns:IGeneral_GetDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFiltrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ListarFiltrar" message="tns:IGeneral_ListarFiltrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ListarFiltrarResponse" message="tns:IGeneral_ListarFiltrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Upd_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Ins_Upd_Delete" message="tns:IGeneral_Ins_Upd_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/Ins_Upd_DeleteResponse" message="tns:IGeneral_Ins_Upd_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneral" type="tns:IGeneral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataTable">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFiltrar">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ListarFiltrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Upd_Delete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/Ins_Upd_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="BasicHttpBinding_IGeneral" binding="tns:BasicHttpBinding_IGeneral">
      <soap:address location="http://localhost:62703/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>